@font-face {
  font-family: 'Raleway';
  src: local('Raleway-Regular'),
  url('Raleway-Regular.ttf') format(ttf),
  url('Raleway-Regular.woff') format(woff),
  url('Raleway-Regular.woff2') format(woff2);
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway-Medium'),
  url('Raleway-Medium.ttf') format(ttf),
  url('Raleway-Medium.woff') format(woff),
  url('Raleway-Medium.woff2') format(woff2);
  font-weight: 500;
  font-display: swap;
 
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway-Bold'),
  url('Raleway-Bold.ttf') format(ttf),
  url('Raleway-Bold.woff') format(woff),
  url('Raleway-Bold.woff2') format(woff2);
  font-weight: bold;
  font-display: swap;
}